.bash_*
build
.cache
documents
.lesshst
.mozilla
.vim
.viminfo
.ssh
.Xauthority
.cache/
.config/Nextcloud/
.config/QtProject.conf
.config/autostart/
.config/cache/
.config/caja/
.config/dconf/
.config/evolution/
.config/gtk-3.0/
.config/htop/
.config/kde.org/
.config/libreoffice/
.config/local/
.config/menus/
.config/mimeapps.list
.config/neofetch/
.config/nvim/autoload/
.config/nvim/custom_snippets/
.config/nvim/foo.tex
.config/nvim/ycm.vim
.config/pavucontrol.ini
.config/pulse/
.config/qutebrowser/
.config/session/
.config/yelp/
.config/zsh/.zcompdump
.config/zsh/.zhistory
.gitconfig
.gnupg/
.histfile
.lesshst
.local/
.mozilla/
.opendrop/
.pki/
.rnd
.sane/
.scidvspc/
.sqlite_history
.ssh/
.thunderbird/
.viminfo
.wget-hsts
.zcompdump
D4
Documents
Downloads/
Fac/
bash_reference_manual.pdf
build/
compteur/
config_wkdir/
dotfiles_examples/
ffi/
src/
test.pdf
